/*
white
green
greenyellow
#FAF9F6
#D9D9D9
*/

/*Geral*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

/*Menu*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    color: green;
    font-family: 'Cantarell', sans-serif;
    z-index: 3;
    box-shadow: 2px 2px 50px -10px black;
}

nav {
    color: green;
    position: relative;
    left: 520px;
    bottom: 80px;
}

#imagem1 {
    display: inline-block;
    margin: 20px 20px 20px 20px;
}

#nomedoportal {
    display: inline-block;
    position: relative;
    bottom: 43px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
}

#lista-paginas-menu {
    display: inline-block;
    color: green;
    position: relative;
    bottom: 10px;
    right: 10px;
}


#paginas-menu {
    display: inline-block;
    width: 140px;
}

a {
    text-decoration: none;
    color: green;
}

.paginas {
    width: 10px;
}

.forms {
    font-family: 'Cantarell', sans-serif;
    border-radius: 50px;
    border: 0px;
    background-color: green;
    color: white;
    height: 40px;
    width: 160px;
    position: relative;
    right: 30px;
    transition: 0.75s;
    margin-left: 20px;
    margin-right: 20px;
}

.forms:hover {
    transform: scale(1.1);
    transition: 0.75s;
    background-color: greenyellow;
}

.pagina:hover {
    color: greenyellow;
    transition: 0.75s;
}

/*Conteúdo da página*/

main {
    font-family: 'Alata', sans-serif;
    margin-top: 100px;
}

/*Formulário de avaliação*/


#formulario-avalie {
    width: 100%;
    height: 525px;
    background-color: white;
}

#formulario-avalie h1 {
    position: absolute;
    left: 500px;
}

#imagem2 {
    position: absolute;
    top: 200px;
    left: 30px;
    display: inline-block;
}

#formulario {
    position: absolute;
    top: 200px;
    left: 660px;
}

fieldset {
    width: 600px;
    height: 350px;
    border-radius: 70px;
}

textarea{
    padding-left: 20px;
    padding-top: 10px;
    font-family: 'Alata', sans-serif;
    color: green;
    border-radius: 30px;
}

#avaliacao {
    width: 550px;
    height: 80px;
}

select{
    font-family: Alata, 'sans-serif';
}

#campo1 {
    margin: 80px 0px 0px 10px;
}

#campo2 {
    margin: 50px 0px 0px 0px;
}

#concluir {
    font-family: 'Cantarell', sans-serif;
    border-radius: 50px;
    border: 0px;
    background-color: green;
    color: white;
    height: 40px;
    width: 200px;
    position: absolute;
    top: 310px;
    left: 210px;
    transition: 0.75s;
}

#concluir:hover {
    transform: scale(1.1);
    transition: 0.75s;
    background-color: greenyellow;
}

/*Rodapé*/

footer {
    height: 80px;
    background-color: white;
    font-family: 'Alata', sans-serif;
    box-shadow: 0px -5px 100px black;
}

.icones678 {
    display: inline-block;
    margin: 10px 10px 0px 10px;
    height: 60px;
    width: 60px;
}

#copyright {
    display: inline-block;
    position: absolute;
    margin-top: 30px;
    right: 10px;
}